#DISABLE DIRECTORY VIEWING
Options -Indexes

# TURN ON REWRITE-ENGINE
RewriteEngine on

# If folder does not exist
RewriteCond %{REQUEST_FILENAME} !-d
# and file exist
RewriteCond %{DOCUMENT_ROOT}/$1\.php -f
# internally show the content of filename.php
RewriteRule ^([^/]+)/?$ $1.php [L]

# REWRITE ALL REQUESTS TO ARTICLE SCRIPT, UNLESS FILE/DIRECTORY EXISTS
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /main/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /main/index.php [L]
</IfModule>

# END WordPress
