html, body {
    height:100%;
}

body {
    background: url("../greenkey.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}
.container{
	margin-top: auto;
}
.brand{
	width:130px;
}

.active{
	margin-top:5px;
  font-family: News Gothic;
}

.dropdown{
	margin-top: 5px;
  font-family: News Gothic;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;     
}

h1 {
	text-align: center;
	font-size: 60px;
	font-family: Adobe Caslon Semibold;
}

h2 {
	text-align: center;
	font-size: 30px;
	font-family: Adobe Caslon Semibold;
}

@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 42px;
  }
}