/**
 * General Stylesheet 
 * Most for overall page-structue for search page
 * 
 **/



#search_query .content{
    padding: 25px 0 0 0;
}

#loading_search_results{
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    width: 128px;
    height: 15px;
    margin: 0 auto;
    display: none;
}

#more_search_results{
    font-size: 17px;
    font-weight: bold;
    background-color: #ececec;
    border-color: #b3b3b3;
    border-style: solid;
    border-width: 1px;
    padding: 10px 0 10px 0;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 50px 100px 0 100px;
    text-transform: uppercase;
    cursor: pointer;
    display: none;
}

#more_search_results:hover,
#more_search_results:active{
    background-color: #ffccaa;
}

#search_form{
    display: block;
    background-color: #f2f2f2;
    padding: 25px;
}

#no_results{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    padding: 25px;
    display: none;
}


.result_item{
    background-color: #fff;
    padding: 15px;
    margin: 0 0 25px 0;
    border-style: dotted;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.result_item .headline{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 0 0 1px 0;
    border-color: #ccc;
    border-style: dotted;
    padding: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result_item .date{
    width: 100px;
    height: 20px;
    background-color: #fff6d5;
    text-align: center;
    padding: 35px 15px;
    float: left;
    border-style: dotted;
    border-width: 1px;
    border-color: #ccc;
    margin: 0 15px 0px 0;
    font-style: italic;
}

.result_item .content{
    padding: 15px !important;
    margin: 0 !important;
}

.result_item .url{
    color: #0000ff;
    text-align: right;
    cursor: pointer;
}

.authors .author{
    display: inline;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}